.users-table__container {
  background: var(--secondary-color);
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 12px 14px;
  margin-top: 12px;

  .table__header {
    margin-bottom: 12px;

    .header__title {
      color: var(--xl-text-color);
      font-size: 20px;
      font-weight: 700;
      margin-top: 6px;
    }
  }

  .table__content {
    padding: 5px 10px;

    table {
      min-width: 900px;
      width: 100%;
      color: var(--text-color-inverted);

      td,
      th {
        padding: 14px 12px;
      }

      thead {
        background-color: var(--primary-color);
        color: #fafafa;

        th {
          padding: 25px 16px;

          &:first-child {
            border-top-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }

      tbody {
        tr {
          border: 1px solid var(--base-border-color);

          &:hover {
            background-color: var(--row-hover-color);
          }
        }

        span {
          cursor: pointer;
        }
      }
    }
  }
}
